<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102007785601-3atp4j82lim3p54a108rn7ucfd98evjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102007785601-3atp4j82lim3p54a108rn7ucfd98evjo</string>
	<key>API_KEY</key>
	<string>AIzaSyBBBF1yUOz0GlclyVLYoqJl5B1Q1XiGFUI</string>
	<key>GCM_SENDER_ID</key>
	<string>102007785601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wastagram</string>
	<key>PROJECT_ID</key>
	<string>wastagram-c9527</string>
	<key>STORAGE_BUCKET</key>
	<string>wastagram-c9527.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102007785601:ios:ed0df4a5cbe23bc1042580</string>
	<key>DATABASE_URL</key>
	<string>https://wastagram-c9527.firebaseio.com</string>
</dict>
</plist>